<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Css1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> loading1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading1-2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> loading1-2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> loading2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> loading3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> login1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> register1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="button1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> button1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navbar1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> navbar1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="card1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> card1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="card2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> card2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="card3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> card3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="textDescription1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> textDescription1
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
