@page "/card1"
@layout EmptyLayout

<link rel="stylesheet" href="css/card1.css" />

<div class="container">
    <div class="card">
        <div class="front-side"></div>
        <div class="back-side">
            <h1>Back of Card</h1>
            <p>The Flip Card Animation</p>
        </div>
    </div>
</div>