@page "/card2"
@layout EmptyLayout

<link rel="stylesheet" href="css/card2.css" />

<div class="card2">
    <img src="Images/human.jpg" />
    <div>
        <h2>Kaye Morris</h2>
        <h3>UX Developer</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <a>Follow Account</a>
    </div>
</div>