@page "/card3"
@layout EmptyLayout

<link rel="stylesheet" href="css/card3.css" />

<div class="containerCard3">
    <div class="card3">
        <div class="card3-1"><img class="cardImage" src="Images/lion.jpg" /></div>
    </div>

    <div class="card3">
        <div class="card3-1"><img class="cardImage" src="Images/eggel.jpg" /></div>
    </div>

    <div class="card3">
        <div class="card3-1"><img class="cardImage" src="Images/tiger.jpg" /></div>
    </div>
</div>