@page "/loading1-2"

@layout EmptyLayout

<link rel="stylesheet" href="css/loading1-2.css" />
<body>

    <div class="multicolor-dots-loader">
        <div class="layer red">
            <div class="dots"></div>
        </div>
        <div class="layer orange">
            <div class="dots"></div>
        </div>
        <div class="layer yellow">
            <div class="dots"></div>
        </div>
        <div class="layer green">
            <div class="dots"></div>
        </div>
        <div class="layer blue">
            <div class="dots"></div>
        </div>
        <div class="loading-progress-text"></div>
    </div>

</body>