@page "/loading2"
@layout EmptyLayout

<link rel="stylesheet" href="css/loading2.css" />
<body>
    <div class="loader">
        <div class="ball one" style="--i: 0"></div>
        <div class="ball two" style="--i: 1"></div>
        <div class="ball three" style="--i: 2"></div>
        <div class="ball four" style="--i: 3"></div>
        <div class="ball five" style="--i: 4"></div>
        <div class="ball six" style="--i: 5"></div>
        <div class="ball seven" style="--i: 6"></div>
        <div class="ball eight" style="--i: 7"></div>
        <div class="ball nine" style="--i: 8"></div>
        <div class="ball ten" style="--i: 9"></div>
    </div>
</body>