@page "/navbar2"
@layout EmptyLayout

<link rel="stylesheet" href="css/navbar2.css" />

<div class="header">
    <nav class="nav">
        <ul>
            <li class="nav-link">
                <a href="#">Home</a>
            </li> 

            <li class="nav-link">
                <a href="#">Tutorials</a>
            </li> 

            <li class="nav-link">
                <a href="#">Exercises</a>
            </li> 

            <li class="nav-link">
                <a href="#">Certificates</a>
            </li> 

            <li class="nav-link">
                <a href="#">Services</a>
            </li> 
        </ul>
    </nav>
</div>