@page "/navbar1"
@layout EmptyLayout

<link rel="stylesheet" href="css/navbar1.css" />

<nav>
    <a href="">HOME</a>
    <a href="">ABOUT</a>
    <a href="">PRODUCT</a>
    <a href="">SERVICES</a>
    <a href="">CONTANT</a>
    <span></span>
</nav>