
@page "/sosyalMIcon"
@layout EmptyLayout

<link rel="stylesheet" href="css/sosyalMIcon.css" />

<div class="sosyal-container">
    <button>
        <span class="sosyal-icon-wrapper">
            <i class="fa-brands fa-facebook"></i>
        </span>
        <span class="sosyal-bg" style="--clr: #3B5998"></span>
    </button>
    <button>
        <span class="sosyal-icon-wrapper">
            <i class="fa-brands fa-instagram"></i>
        </span>
        <span class="sosyal-bg" style="--clr: #8134AF"></span>
    </button>
    <button>
        <span class="sosyal-icon-wrapper">
            <i class="fa-brands fa-x-twitter"></i>
        </span>
        <span class="sosyal-bg" style="--clr: #000"></span>
    </button>
    <button>
        <span class="sosyal-icon-wrapper">
            <i class="fa-brands fa-linkedin"></i>
        </span>
        <span class="sosyal-bg" style="--clr: #0e76a8"></span>
    </button>
    <button>
        <span class="sosyal-icon-wrapper">
            <i class="fa-brands fa-youtube"></i>
        </span>
        <span class="sosyal-bg" style="--clr: #c4302b"></span>
    </button>
</div>