@page "/textDescription1"
@layout EmptyLayout
<link rel="stylesheet" href="css/textDescription1.css" />

<div class="container1">
    <div class="item1">
        <div class="layer1">
            <h3>Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <span><i class="fa-solid fa-lightbulb"></i></span>
        </div>
        <h4>Step 01</h4>
    </div>

    <div class="item1">
        <div class="layer1">
            <h3>Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <span><i class="fa-solid fa-arrow-up-right-dots"></i></span>
        </div>
        <h4>Step 02</h4>
    </div>

    <div class="item1">
        <div class="layer1">
            <h3>Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <span><i class="fa-solid fa-arrow-up-right-dots"></i></span>
        </div>
        <h4>Step 03</h4>
    </div>
</div>